[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
awscli = "*"

[packages]
"prio" = {path = "./../..", editable = true}
"s3fs" = "*"
pyarrow = "*"
click = "*"
pandas = "*"

[requires]
python_version = "3.6"
