**/*.pyc
**/*.pyo
**/__pycache__
**/.ipynb_checkpoints
*.so
*.egg-info
MANIFEST

**/examples/*/Pipfile.lock

.coverage
.pytest_cache
.vscode
.env
.tox

build/
data/
dist/
working/
venv/
.mc
.ash_history

.terraform/
.bash_history

# we only want to keep the template and generate the actual config at runtime,
# don't accidentally check values that may have sensitive values into
# source-control
config/spark/spark-defaults.conf
