[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prio = {path = ".", editable = true}

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
setuptools = "*"
twine = "*"

[requires]
python_version = "3"
