certifi==2019.3.9
Click==7.0
cloudpickle==1.1.1
dask==1.2.2
locket==0.2.0
minio==4.0.17
numpy==1.16.3
pandas==0.24.2
partd==0.3.10
prio==0.4
python-dateutil==2.8.0
python-rapidjson==0.7.1
pytz==2019.1
six==1.12.0
toolz==0.9.0
tqdm==4.32.1
urllib3==1.25.3
